/* Styles for the leaflet map */

div.circle {
    background-color: #1dcaff;
    border: 1px solid #0084b4;
    border-radius: 50%;
    width:10px;
    height:10px;
    line-height: 10px;
    text-align: center;
}

div.tweet {
    width:20px !important;
    height:20px !important;
    line-height: 20px !important;
    text-align: center;
    z-index: 1000;
    opacity: 1.1;
}
.circle:hover {
    color: white;
    opacity: 1;
}

div.tweet-info {
    font-size: 14px;
    display: grid;
    grid-template-areas: "image name name name"
                         "tweet tweet tweet tweet"
                         "location location date date"
                         "btn btn btn btn";
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    width: 300px;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif; 
}

.tweet-links a {
    text-decoration: none;
    color: #0084b4;
    font-weight: bolder;
}
.tweet-links a:hover {
    color: #2e294e;   
}
.tweet-btn {
    
    grid-area: btn;
    justify-self: center;
}
.t_btn .fab {
    padding-right: 5px;
}

.t_btn {
    font-size: 12px;
    background-color: #0084b4;
    border: none;
    color: white !important;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 150px;
    opacity: 0.8;
    margin: 5px auto;
}
.t_btn .fab {
    color: white !important;
    opacity: 0.8;
}
.t_btn .fab:hover {
    color: white !important;
    opacity: 1 !important;
}
.t_btn:hover {
    color: white !important;
    opacity: 1 !important;
}
.t_btn .fab:hover {
    color: white !important;
}
.t_btn:visited {
    color: white !important;
}

.tweet-img {
    grid-area: image;
}
.tweet-img img {
    width: 50px;
    border-radius: 50%;
    border: 2px solie white;
}
.tweet-name {
    grid-area: name;
    font-weight: bold;
    font-size: 1em;
    align-self: center;
}
.tweet-text {
    grid-area: tweet;


}
.tweet-date {
    grid-area: date;
    font-size: .7em;
    justify-self: right;
}
.tweet-location {
    grid-area: location;
    font-size: .7em;
    justify-self: left;
}
@media screen and (max-width: 551px) {
    .tweet-info {
        font-size: 12px;
        line-height: 18px;
        max-width: 250px;
    }
  
  }
  @media screen and (max-width: 370px) {
    .tweet-info {
        font-size: 10px;
        max-width: 200px;
    }
  }

