/* Styles for the leaflet map */

div.circle {
    background-color: #1dcaff;
    border: 1px solid #0084b4;
    border-radius: 50%;
    width:20px;
    height:20px;
    line-height: 20px;
    text-align: center;
}

div.tweet {
    z-index: 1000;
    opacity: 1.1;
}
.circle:hover {
    color: white;
    opacity: 1;
}

div.tweet-info {
    font-size: 14px;
    display: grid;
    grid-template-areas: "image name name name"
                         "tweet tweet tweet tweet"
                         "location location date date";
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    width: 300px;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif; 
}

.tweet-info a {
    text-decoration: none;
    color: #0084b4;
    font-weight: bolder;
}
.tweet-info a:hover {
    color: #2e294e;   
}

.tweet-img {
    grid-area: image;
}
.tweet-img img {
    width: 50px;
    border-radius: 50%;
    border: 2px solie white;
}
.tweet-name {
    grid-area: name;
    font-weight: bold;
    font-size: 1.1em;
    align-self: center;
}
.tweet-text {
    grid-area: tweet;


}
.tweet-date {
    grid-area: date;
    font-size: .7em;
    justify-self: right;
}
.tweet-location {
    grid-area: location;
    font-size: .7em;
    justify-self: left;
}
@media screen and (max-width: 551px) {
    .tweet-info {
        font-size: 12px;
        line-height: 18px;
        max-width: 250px;
    }
  
  }
  @media screen and (max-width: 370px) {
    .tweet-info {
        font-size: 10px;
        max-width: 200px;
    }
  }

